@import url('https://fonts.googleapis.com/css?family=Poppins');

html,body,.profile-image{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: block;


}
.profile-image{
    /*background: url('/assets/images/profile.png') no-repeat center;*/
    /*background-size: contain;*/
    background: #111111;
}


.container{
    height: 100%;
    display: block;
    width: 100%;
    padding-bottom: 0px;
    margin: 0;
    padding: 0 10%;
}

h1,h2,a{
    color:inherit;
    letter-spacing: 2px;
    font-weight: lighter !important;
}

h2{
    font-size: 24px;
    margin: 10px 0px;
    line-height: 1.8em;
}

h3{
    font-size: 18px;
    font-weight: 300;
}

h4{

    letter-spacing: 0px;
    font: italic bold 14px/30px Poppins, serif;
}

p,ul li{
    font-size: 14px;
}


.header-nav{
    padding: 60px 0px;
}

.header-nav .header-nav-list{text-align: right;padding: 0}
.header-nav .header-nav-list ul{
    display: block;
    margin: 0;
    padding: 0;


}

.header-nav ul li{
    padding: 0px 25px;

    list-style-type: none;
    display: inline-block;


}
.header-nav ul li:last-child{
    padding-right: 0;
}



.header-nav ul li a{
    text-decoration: none;
    letter-spacing: 2px;
}

.header-nav ul li a:hover{
    color : #a0a0a1;
}


.profile-body{
    height: 80%;
}

.profile-body .row{
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
}


.cd-headline{
    line-height: 0;
}

.cd-headline span b{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 100;
}



.view-details{
    background-color: #FFFFFF;
    border-radius: 1px;
    color: #111111 !important;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 14px 0;
    padding: 10px 30px;
    transition: all 0.3s ease;
}




/*NAVBAR*****************************/
.navbar{
    margin-bottom: 0px;
    border-radius: 0;
    z-index: 1000;
}

.navbar .container{
    margin: 0;
    padding: 0 40px;
    width: 100%;
}
.navbar ul li{
    font-size: 14px;
}


.affix {
    top: 0;
    width: 100%;
}

.affix-top {
    width: 100%;
}

.affix-bottom {
    position: absolute;
    width: 100%;
}

.navbar-default .navbar-nav>.active>a{
    background-color: #f7f7f7;
    color:black;

}
.navbar-default .navbar-nav>.active>a:focus{
    background-color: #f7f7f7;
    color:black;

}

/*END OF NAVBAR*****************************/



.number{
    color: #cccccc;
    font-family: 'Poppins', arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin-right: 10px;
}

.section-title{
    padding: 15px 0px;
}

#about,#introduction,#skills,#skills-1,#portfolio,#experience,#contact{
    background: #fdfdfe;
    color: #5a5252;
}
.row{
    display: block;
}


#about{
    padding-top: 60px;

}
ul{
    padding: 0 20px;
    margin: 0;
}

#about ul{
    padding: 0 0 0 20px;
    margin-top: 10px;
}
#about ul li{

    padding: 10px 0px;


}

#about a{
    background-color: #111111;
    border-radius: 1px;
    color: #ffffff !important;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 14px 0;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

#about img{
    height: 250px;
    width: 100% ;
}




#portfolio{
    padding: 80px 0;
    border-bottom: 1px solid #F1EBEB;
}

.portfolio-items{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    display: block;
}
.portfolio-items img{
    height: 200px;
    width: 100%;
    transition: all 0.5s ease;
}

.portfolio-items img:hover{
    transform: scale(1.15);
}

#experience{
    padding: 80px 0;
    border-bottom: 1px solid #F1EBEB;
}
#experience .container .row{
    display: block;
    padding-top: 10px;
}
#experience img{
    width: 100%;

}
.icon-position{
    font-size: 17px;
    padding: 10px 10px 10px 0px;

}

.icon-position span{
    font-size: 18px;
    padding: 0px 10px 0 0px;
}

#education{
    padding: 60px 0;
    color: #5a5252;
}
#education .container .row{
    display: block;
}
#qoutes{
    background-image: url(../../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 80px 0px;
    position: relative;
}
.qoutes-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#contact{
    padding:  80px 0px 50px 0px;
}
#contact .container .row{
    display: block;
}
.contact-icon{
    font-size: 18px;
    padding: 10px 0px;
}
#contact .container .row:first-child{
    margin-bottom: 15px;
}

input.form-control,textarea.form-control {

    margin: 10px 0px;
}

textarea.form-control{
    resize: none;
}
.form-group button{
    width: 200px;
    padding: 10px 30px;
    background: black;
    color: white;
}

.form-control:focus {
    border: 2px solid #C8C8C8;
    box-shadow: none;
}


.form-control{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 13px;
    height: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid #E6E6E6;
}

.footer{
    padding: 30px 0 0 0;
    color: #5a5252;
    background-color: #f7f7f7;
}
.footer .container .row{
    display: block;

}
.footer ul{
    margin: 0;
    padding: 10px 0px;
}

.footer ul li{
    display: inline-block;
    padding: 0px 10px;
}
#sample{
    color: black;
}





